.contact {
  text-align: center;
  padding: 40px 20px;
  background-color: #1c1c1c; /* Dark background */
  color: white; /* White text for contrast */
}

.contact h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #fff;
}

.contact-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.contact-item {
  text-align: center;
  margin: 20px;
}

.contact-icon {
  width: 50px; /* Adjust the size of the icons as needed */
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.contact-icon:hover {
  transform: scale(1.1);
}
