.projects {
  text-align: center;
  padding: 40px 20px;
  background-color: #1c1c1c; /* Dark background */
  color: white; /* White text for contrast */
}

.projects h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #fff;
}

.projects ul {
  list-style: none;
  padding: 0;
}

.projects li {
  margin-bottom: 30px;
  font-size: 1.2em;
  color: #dcdcdc;
  text-align: center;
}

.projects h3 {
  font-size: 1.5em;
  color: #fff;
  margin-bottom: 10px;
}

.projects p {
  color: #dcdcdc;
}

.project-icon {
  width: 80px;  /* Adjust the size of the icon */
  height: auto;
  margin-bottom: 15px;
}

.project-icon2 {
  width: 150px;  /* Adjust the size of the icon */
  height: auto;
  margin-bottom: 15px;
}
.projects a {
  color: #6c63ff; /* Link color */
  text-decoration: none;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

.projects a:hover {
  text-decoration: underline;
}
